<template>

    <div>

        <nav class="navbar navbar-default">
            <div class="container-fluid">

                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <router-link to="/" class="navbar-brand">Notes</router-link>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                    <ul class="nav navbar-nav navbar-right">

                        <li v-if="!$auth.check()">
                            <router-link to="/login">Login</router-link>
                        </li>

                        <li v-if="!$auth.check()">
                            <router-link to="/register">Register</router-link>
                        </li>

                        <li v-if="$auth.check()">
                            <a href="#" @click.prevent="logout">Logout</a>
                        </li>
                    </ul>

                </div>

            </div>
        </nav>

        <div class="container">

            <router-view></router-view>

        </div>
    </div>
</template>

<script>
    export default {
        methods: {
          logout() {
              let app = this;

              this.$auth.logout({
                  makeRequest: true,
                  success: function () {
                  },
                  error: function() {
                      console.log('error ' + this.context);
                  },
                  redirect: '/login',
              });
          }
        },
        mounted() {

        }
    }
</script>
