<template>
    <div>
        <div class="alert alert-danger" v-if="this.message != ''">{{ this.message }}</div>

        <ul class="alert alert-danger" v-if="this.errors != ''">
            <li v-for="error in this.parseErrors()">{{ error }}</li>
        </ul>
    </div>
</template>

<script>
    export default {
        props: ["message", "errors"],
        methods: {
            parseErrors() {

                let errArr = [];

                if(this.errors) {
                    for(let i in this.errors) {
                        if(this.errors[i][0] != undefined) {
                            errArr.push(this.errors[i][0]);
                        }
                    }
                }

                return errArr;
            }
        }
    }
</script>