<template>
    <ul class="pagination pagination-sm no-margin pull-right" v-if="pagination.show_links">
        <li><a href="#" v-on:click.prevent="fetchData(1)">First</a></li>
        <li v-if="pagination.prev_page_url!=null"><a href="#" v-on:click.prevent="fetchData(pagination.current-1)">«</a></li>
        <li v-for="i in pagination.last_page" :class="{active: i==pagination.current}">
            <a href="#" v-on:click.prevent="fetchData(i)">{{i}}</a>
        </li>
        <li v-if="pagination.next_page_url!=null"><a href="#" v-on:click.prevent="fetchData(pagination.current+1)">»</a></li>
        <li><a href="#" v-on:click.prevent="fetchData(pagination.last_page)">Last</a></li>
    </ul>
</template>

<script>
    export default {
        props: ["pagination"],
        methods: {
            fetchData(page) {
                this.$emit('paginate', page);
            }
        }
    }
</script>