<template>
    <div class="row">
        <div class="col-md-9">
            <h3>Add note</h3>

            <div class="row">
                <div class="col-md-12">
                    <br/>

                    <ErrorMessages :message="errorMessage" :errors="errors"></ErrorMessages>
                    <SuccessMessage :message="successMessage"></SuccessMessage>

                    <form method="post" class="form-horizontal" v-on:submit.prevent="save">
                        <div class="form-group">
                            <label>Title</label>
                            <input type="text" class="form-control" name="title" id="title" v-model="title" />
                        </div>

                        <div class="form-group">
                            <label>Description</label>
                            <ckeditor :editor="editor" v-model="description"></ckeditor>
                        </div>

                        <input type="submit" value="Save" class="btn btn-success" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import axios from 'axios';
    import ErrorMessages from '../ErrorMessages';
    import SuccessMessage from '../SuccessMessage';
    import ClassicEditor from '@ckeditor/ckeditor5-build-classic';

    export default {
        components: {
            ErrorMessages,
            SuccessMessage
        },
        data() {
          return {
              title: '',
              description: '',
              successMessage: '',
              errorMessage: '',
              errors: '',
              editor: ClassicEditor,
          }
        },
        methods: {
            save() {

                let payload = {
                    title: this.title,
                    description: this.description
                };

                let self = this;

                axios.post(window.base_url + '/api/notes', payload).then(response => {

                    self.successMessage = response.data.message;

                    self.errors = '';

                    self.errorMessage = '';

                    setTimeout(() => {
                        self.$router.push('/');
                    }, 3000);

                }).catch(error => {

                    self.successMessage = '';

                    self.errorMessage = error.response.data.message;

                    self.errors = error.response.data.errors;
                });
            }
        }
    }
</script>