<template>
    <div class="row">
        <div class="col-md-9">
            <h3>Edit note #{{ this.$route.params.id }}</h3>

            <div class="row">
                <div class="col-md-12">
                    <br/>

                    <ErrorMessages :message="errorMessage" :errors="errors"></ErrorMessages>
                    <SuccessMessage :message="successMessage"></SuccessMessage>

                    <form method="post" class="form-horizontal" v-on:submit.prevent="update">
                        <div class="form-group">
                            <label>Title</label>
                            <input type="text" class="form-control" name="title" id="title" v-model="title" />
                        </div>

                        <div class="form-group">
                            <label>Description</label>
                            <ckeditor :editor="editor" v-model="description"></ckeditor>
                        </div>

                        <input type="submit" value="Update" class="btn btn-success" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import axios from 'axios';
    import ErrorMessages from '../ErrorMessages';
    import SuccessMessage from '../SuccessMessage';
    import ClassicEditor from '@ckeditor/ckeditor5-build-classic';

    export default {
        components: {
            ErrorMessages,
            SuccessMessage
        },
        data() {
            return {
                title: '',
                description: '',
                successMessage: '',
                errorMessage: '',
                errors: '',
                editor: ClassicEditor,
            }
        },
        methods: {
            update() {

                let payload = {
                    title: this.title,
                    description: this.description
                };

                let self = this;

                axios.put(window.base_url + '/api/notes/' + this.$route.params.id, payload).then(response => {

                    self.successMessage = response.data.message;

                    self.errors = '';

                    self.errorMessage = '';

                    setTimeout(() => {
                        self.$router.push('/');
                    }, 3000);

                }).catch(error => {

                    self.successMessage = '';

                    self.errorMessage = error.response.data.message;

                    self.errors = error.response.data.errors;
                });
            }
        },
        mounted() {

            let self = this;

            axios.get(window.base_url + '/api/notes/' + this.$route.params.id).then(
                response => {
                    self.title = response.data.data.title;
                    self.description = response.data.data.description
                }
            );
        }
    }
</script>