<template>
    <div class="row">
        <div class="col-md-9">
            <h3>Your notes</h3>

            <router-link to="/add" class="btn btn-primary pull-right"><i class="glyphicon glyphicon-plus"></i> Add note</router-link>

            <div class="row">
                <div class="col-md-12">
                    <br/>
                    <table class="table table-condensed">
                        <thead>
                            <tr>
                                <td>#</td>
                                <td>Title</td>
                                <td>Actions</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="note in this.notes" :key="note.id">
                                <td>{{ note.id }}</td>
                                <td>{{ note.title }}</td>
                                <td>
                                    <router-link :to="'/edit/' + note.id" class="btn btn-success btn-sm"><i class="glyphicon glyphicon-edit"></i></router-link>
                                    <a href="#" @click.prevent="() => remove(note.id)" class="btn btn-danger btn-sm"><i class="glyphicon glyphicon-remove"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <Pagination :pagination="this.pagination" v-on:paginate="paginate"></Pagination>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import axios from 'axios';
    import Pagination from '../Pagination';

    export default {
        components: {
          Pagination
        },
        data() {
            return {
                notes: [],
                pagination: {}
            }
        },
        methods: {
            callApi(page = null) {

                let self = this;

                let api_url = window.base_url + '/api/notes';

                if(page != null) {
                    api_url = window.base_url + '/api/notes?page=' + page;
                }

                axios.get(api_url).then(response => {
                    self.notes = response.data.data.data;

                    let show_links = false;

                    if(response.data.data.total > response.data.data.per_page) {
                        show_links = true;
                    }

                    let pagination = {show_links: show_links,
                        from: response.data.data.from,
                        last_page: response.data.data.last_page,
                        current: response.data.data.current_page,
                        to: response.data.data.to,
                        total: response.data.data.total,
                        prev_page_url: response.data.data.prev_page_url,
                        next_page_url: response.data.data.next_page_url,
                        last_page_url: response.data.data.last_page_url,
                    };

                    self.pagination = pagination;
                });
            },
            paginate(event) {
                this.callApi(event);
            },
            remove(id) {

                let self = this;

                axios.delete(window.base_url + '/api/notes/' + id).then(response => {
                    self.notes = self.notes.filter(val => val.id != id);
                });
            }
        },
        mounted() {

            this.callApi();
        }
    }
</script>

<style scoped>

</style>